In [26]:
import pandas as pd

melbourne_file_path = 'input/melb_data.csv'
melbourne_dataframe = pd.read_csv(melbourne_file_path)
print(melbourne_dataframe.columns)

Index(['Unnamed: 0', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method',
       'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom',
       'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea',
       'Lattitude', 'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

#### print a list of the columns

In [30]:
list(melbourne_dataframe)

['Unnamed: 0',
 'Suburb',
 'Address',
 'Rooms',
 'Type',
 'Price',
 'Method',
 'SellerG',
 'Date',
 'Distance',
 'Postcode',
 'Bedroom2',
 'Bathroom',
 'Car',
 'Landsize',
 'BuildingArea',
 'YearBuilt',
 'CouncilArea',
 'Lattitude',
 'Longtitude',
 'Regionname',
 'Propertycount']

### Selecting a single Column

In [31]:
melbourn_price_data = melbourne_dataframe.Price

In [38]:
print("first 5")
print(melbourn_price_data.head())
print("\nlast 5")
print(melbourn_price_data.tail())

first 5
0    1480000.0
1    1035000.0
2    1465000.0
3     850000.0
4    1600000.0
Name: Price, dtype: float64

last 5
18391     622500.0
18392    2500000.0
18393    1100000.0
18394    1285000.0
18395    1050000.0
Name: Price, dtype: float64

### Selecting Multiple Columns

In [39]:
columns_of_interest = ['Landsize', 'BuildingArea']
two_columns_of_data = melbourne_dataframe[columns_of_interest]

In [40]:
two_columns_of_data.describe()

            Landsize  BuildingArea
count   13603.000000   7762.000000
mean      558.116371    151.220219
std      3987.326586    519.188596
min         0.000000      0.000000
25%       176.500000     93.000000
50%       440.000000    126.000000
75%       651.000000    174.000000
max    433014.000000  44515.000000